.bikes-cards {
    height: 0px;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.pop-up-container{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9;
}


.pop-up{
    height: fit-content;
    position: fixed;
    height: auto;
    width: 500px;
    top: 50%;
    right: 50%;
    background-color: white;
    z-index: 90;
    opacity: 1;
    transform: translate(50%, -50%);
    border-radius: 25px;
}

.pop-up-text{
    margin: 4cm 2cm;
    text-align: center;
    
}

.pop-up-text label{
    font: 300 25px/21px Roboto;
    color: rgb(0, 231, 119);
}

.pop-up button{
    position: absolute;
    right: 20px;
    top: 20px;
    border-radius: 25px;
    width: 50px;
    height: 50px;
    background-color: red;
    color: white;
    font-size: 24px;
    border: solid white;
}
