 
  .btn-home {
    cursor: pointer;
    display: block;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    padding: 16px 12px;
    border-radius: 4px;
    text-align: center;
    white-space: nowrap;
    background-image: none;
    line-height: 1.42857143;
    border: 1px solid transparent;
  }
  
  .sign-in {
    color: #fff;
    font-size: 18px;
    background: #586A74;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-color: #4B5961;
  }
  
  .sign-up {
    color: #fff;
    font-size: 18px;
    background: #00E777;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-color: #0BDA76;
  }
  
  a.btn.connect-fb,
  a.btn.connect-tw {
    width: 47%;
    float: left;
    text-align: left;
    font-size: 16px;
  }
  
  a.btn.connect-fb i,
  a.btn.connect-tw i {
    font-size: 43px;
    display: block;
    float: left;
    margin-right: 20px;
  }
  
  a.btn.connect-fb span,
  a.btn.connect-tw span {
    display: block;
    text-align: left;
  }
  
  a.btn.connect-fb {
    margin-right: 24px;
    background: #3B559F;
  }
  
  a.btn.connect-tw {
    background: #28A9E0;
  }
  .selections {
    padding: 0 10%;
    margin-top: 170px;
    
  }