.login {
  margin-top: 130px;
  display: grid;
  color: #fff;
}
.sign-in {
  color: #fff;
  font-size: 18px;
  background: #586A74;
  text-transform: uppercase;
  margin-bottom: 60px;
  border-color: #4B5961;
}
.sign-in-m{
  color: #fff;
  font-size: 18px;
  background: #00E777;
  border-color: #0BDA76;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 22px;
}
.login .form-entry{
  margin-bottom: 25px;
}
.alert-sign-in {
  box-sizing: border-box;
  background-color: #BDFFE1;
  width: 100%;
  position: relative; 
  top: 0;
  left: 0;
  z-index: 300;
  padding: 20px 40px;
  color: #333;
  text-align: center;
}
.alert-sign-in h2 {
  font-size: 22px;
  color: #232323;
  margin-top: 0;
}
