
  a,
  a:hover,
  a:active,
  a:visited {
    text-decoration: none;
    color: #fff;
  }
  
  body {
    font: 300 14px/18px Roboto;
  }
  
  *,
  :after,
  :before {
    box-sizing: border-box
  }
  
  .clearfix:after,
  .clearfix:before {
    content: '';
    display: table
  }
  
  .clearfix:after {
    clear: both;
    display: block
  }
  
  .muck-up-v {
    width: 50%;
    height: auto;
    right: 25%;
    top: -6%;
    margin: 5em auto;
    position: fixed;
    padding-bottom: 60px;
}
  
  .overlay-v {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
  }
  
  .content-v {
    position: relative;
    z-index: 10;
  }
  
  .logo-v {
    margin-top: 40px;
    justify-content: center;
    display: flex;
    margin-bottom: 10px;
}
  
  .logo-v a {
    height: 140px;
    width: 140px;
    display: block;
    background-color: rgb(0, 231, 119);
    z-index: 1;
    border-radius: 32%;
    text-align: center;
    line-height: 140px;
    font-size: 90px;
    color: rgb(255, 255, 255);
    transform: rotate(45deg);
    top: 123px;
    left: 36%;
  }
  
  .logo-v span {
    transform: rotate(-45deg);
    display: inline-block;
  }
  
  .header-v {
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
}
  
  .header-v hr {
    max-width: 59px;
    border: 1px solid #00E777;
    /* margin: 54px 0px 34px 226px; */
  }
  
  .header-v h4 {
    font-size: 48px;
    /* margin-bottom: 34px; */
    color: #00e736;
  }
  
  .header-v h4 span {
    color: #00e777;
  }
  
  .header-v p {
    font-size: 26px;
  }

  .header-v p span {
    color: #00e777;
  }
  
  .cadastro-v {
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
}

  .cadastro-v p {
    font-size: 18px;
  }

  .cadastro-v p span {
    color: #00e777;
  }

  .cadastro-v h1 {
    font-size: 22px;
  }

  .cadastro-v h1 span {
    color: #00e777;
  }
  
  .btn-v {
    cursor: pointer;
    /*display: block;*/
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400px;
    padding: 18px 12px;
    border-radius: 4px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-image: none;
    line-height: 1.42857143;
    border: 1px solid transparent;
  }

  .button-v {
    width: 170px;
    justify-content: center;
    display: flex;
    height: 50px;
    align-items: center;
    background-color: rgb(0, 231, 119);
    color: white;
    cursor: pointer;
}

.button-v:hover{
  
  background-color: white;
  color: rgb(0, 231, 119);
}
  
  .sign-up-v {
    color: #fff;
    font-size: 18px;
    background: #00E777;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-color: #0BDA76;
    text-align: center;
  }

  .alert-v {
    box-sizing: border-box;
    width: 100%;
    z-index: 300;
    color: red;
    margin-bottom: -32px;
}
  
  .alert-v h2 {
    font-size: 20px;
    margin-top: 0;
  }

  .form-group-v {
    margin: 0 auto;
    text-align: left;
    margin-bottom: 1rem;
}

.two-inputs {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 0 50px 0 50px;
}


 
