.cadastro-v {
  display: grid;
  margin-top: 10px;
  color: #fff;
  text-align: center;
}
.sign-up-v {
  color: #fff;
  font-size: 18px;
  background: #00E777;
  border-color: #0BDA76;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 17px;
}
.alert-v {
  box-sizing: border-box;
  background-color: #BDFFE1;
  width: 100%;
  position: relative; 
  top: 0;
  left: 0;
  z-index: 300;
  padding: 20px 40px;
  color: #333;
}
.alert-v h2 {
  font-size: 22px;
  color: #232323;
  margin-top: 0;
}

